<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Vue2</title>

    <style>
        .bi-check2-square, .bi-square{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="app">
            
            <!-- CONDICIONALES -->
            <div class="container">
                <h3>Invertir texto</h3>

                <!-- v-text | Evita q pestañee el contenido -->
                <!-- v-show | Oculta o muestra un elemento dependiendo de su valor -->
                <!-- v-if   | Agrega o quita un elemento del DOM dependiendo de su valor -->
                <!-- v-else | Muestra un valor en caso contrario del if anterior -->
        
                <!-- <h1 v-text="'Hola ' + message"></h1> -->
                <h2 v-if="message.length > 2">Hola <span v-text="message"></span></h2>
                <h2 v-else>Por favor escribe tu nombre</h2>
                <input type="text" v-model="message" >
                <button @click="reverse">Invertir</button>
            </div>
    
            <!-- LOOPS -->
             <div class="container mt-3">

                 <h2>Lista de tareas</h2>
                 <h5 v-if="completedTasks">Tareas completas: {{ completedTasks }}</h4>
                 <h5 v-if="incompletedTasks">Tareas incompletas: {{ incompletedTasks }}</h4>
                 <ul>
                     <li v-for="task in tasks">
                        <span v-text="task.title"></span>                         
                        <!-- <span @click="task.completed = ! task.completed" 
                            v-bind:class="{
                                'bi': true,
                                'bi-check2-square': task.completed, 
                                'bi-square': ! task.completed
                            }">
                        </span> -->
                        <span @click="completeTask(task)" :class="taskClasses(task)"></span>
                     </li>
                     <li class="row mt-2">
                         <div class="col-auto">
                             <!-- v-on:keyup.enter nos permite ejecutar la funcion al precionar enter -->
                             <input v-on:keyup.enter="addTask" v-model="newTask" type="text" class="form-control">
                         </div>
                         <div class="col-auto">
                             <button @click="addTask" class="btn btn-primary">+</button>
                         </div>
                     </li>
                 </ul>
             </div>
             
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "",
                newTask : "",
                tasks: [
                    {title: "Aprender PHP", completed: true},
                    {title: "Aprender Laravel", completed: false},
                    {title: "Aprender VueJS", completed: true}
                ]
            },
            methods: {
                reverse: function(){
                    this.message = this.message.split('').reverse().join('');
                },
                addTask: function(){
                    if (this.newTask.length <= 1) return alert('La tarea no puede estar vacía');
                    this.tasks.push({
                        title: this.newTask,
                        completed: false
                    });
                    this.newTask = "";
                },
                taskClasses: function(task) {
                    console.log('css changed');
                    return ['bi', task.completed ? 'bi-check2-square' : 'bi-square'];
                },
                completeTask: function(task) {
                    return task.completed = ! task.completed;
                }
            },
            computed: {
                completedTasks: function(){
                    return this.tasks.filter(function(task){
                        return task.completed;
                    }).length;
                },
                incompletedTasks: function(){
                    return this.tasks.filter(function(task){
                        return ! task.completed;
                    }).length;
                }
            }
        });
    </script>
</body>
</html>