<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Vue3</title>

    <style>
        .bi-check2-square, .bi-square{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="app">
            <!-- CONDICIONALES -->
             <div class="container">
                 <!-- v-text | Evita q pestañee el contenido -->
                 <!-- v-show | Oculta o muestra un elemento dependiendo de su valor -->
                 <!-- v-if   | Agrega o quita un elemento del DOM dependiendo de su valor -->
                 <!-- v-else | Muestra un valor en caso contrario del if anterior -->
         
                 <!-- <h1 v-text="'Hola ' + message"></h1> -->
                 <h1 v-if="message.length > 2">Hola <span v-text="message"></span></h1>
                 <h1 v-else>Por favor escribe tu nombre</h1>
                 <input type="text" v-model="message" >
                 <!-- <button @click="message = message.split('').reverse().join('')">Invertir</button> -->
                 <button @click="reverseMessage">Invertir</button>
             </div>
    
            <!-- LOOPS -->
            <div class="container mt-3">
                <h1>Lista de Tareas</h1>
                <h5 v-if="completedTasks">Tareas completas: {{ completedTasks }}</h4>
                <h5 v-if="incompletedTasks">Tareas incompletas: {{ incompletedTasks }}</h4>
                <ul>
                    <li v-for="task in tasks">
                        <span v-text="task.title"></span>
                        <span @click="completeTask(task)" :class="taskClasses(task)"></span>
                     </li>
                     <li class="row mt-2">
                         <div class="col-auto">
                             <!-- v-on:keyup.enter nos permite ejecutar la funcion al precionar enter -->
                             <input v-on:keyup.enter="addTask" v-model="newTask" type="text" class="form-control">
                         </div>
                         <div class="col-auto">
                             <button @click="addTask" class="btn btn-primary">+</button>
                         </div>
                     </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, computed } = Vue
        var app = createApp({
            setup() {
                var message = ref('')
                var newTask = ref('')

                var tasks = ref([{title: "Aprender PHP", completed: true},
                {title: "Aprender Laravel", completed: false},
                {title: "Aprender VueJS", completed: true}])

                function reverseMessage() {
                    return message.value = message.value.split('').reverse().join('')
                }
                
                function addTask() {
                    if (newTask.value.length <= 1) return alert('La tarea no puede estar vacía');
                    tasks.value.push({
                        title: newTask.value,
                        completed: false
                    });
                    newTask.value = "";
                }

                function taskClasses(task) {
                    console.log('css changed');
                    return ['bi', task.completed ? 'bi-check2-square' : 'bi-square'];
                }
                function completeTask(task) {
                    return task.completed = ! task.completed;
                }

                const completedTasks = computed(() => {
                    return tasks.value.filter((task) =>
                        task.completed
                    ).length
                })

                const incompletedTasks = computed(() => {
                    return tasks.value.filter((task) =>
                        !task.completed
                    ).length
                })

                return {
                    tasks,
                    message,
                    newTask,
                    reverseMessage,
                    addTask,
                    taskClasses,
                    completeTask,
                    completedTasks,
                    incompletedTasks
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
